/*

CSS rules you may need:
- font-family
    - Arial, sans-serif
- line-height
- color
- margin
- padding
- background-color
- border-radius
- border-left
- border-bottom
- margin-top
- padding-left
- padding-bottom
- width
- height
- margin-bottom
- font-size

Pseudo classes you may need:
- :hover
- :first-letter
- :nth-child

*/

/* Write your CSS code here */
*{
    font-family: Arial, sans-serif;
    margin: 20px 30px;
    background-color:rgb(224, 239, 251);
}
h1{
    background-color: rgb(5, 150, 207);
    margin: 0 0 ;
    font-size: 25px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
main{
    background-color: white;
    border-radius: 5px;
    padding: 20px;

}

section{
    background-color: rgb(247, 244, 244);
    padding: 20px;
    border-radius: 5px;
}
h2{
    border-left: 2px skyblue solid;
    border-bottom: 2px skyblue solid;
    background-color: rgb(247, 244, 244);
    margin: auto;
    padding-left: 10px;
    padding-bottom: 5px;
}
p{
    margin-left: 0;
    background-color: rgb(247, 244, 244);
}
p:first-letter{
    font-size: 35px;
    color:rgb(5, 150, 207);
    font-weight: bold ;
}
img{
    margin:  10px 0;
    border-radius: 5px;
}
table{
    margin: 10px 0;
    background-color: transparent;
}
tr{
    border-top: 1px rgb(141, 136, 136) solid; 
    border-bottom: 1px rgb(141, 136, 136) solid;
}
th,td  {
    padding: 7px;
    background-color: rgb(247, 244, 244);
}
th{
    background-color: rgb(14, 173, 236);
}
tr:nth-child(even) td:nth-child(1){
    background-color: rgb(238, 237, 237);
}
tr:nth-child(even) td:nth-child(2){
    background-color: rgb(238, 237, 237);
}
footer p{
    background-color:transparent;
}
td:hover {
    background-color: lightblue; 
    cursor: pointer;     
}
